$html-size-base: 10px;
$font-size: 1.4rem;
$line-height: 2.4rem;
$font-family: "OpenSans", Arial, sans-serif;


$container-mobile: 260px;
$container-tablet: 668px;
$container-desktop: 1050px;


$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 1150px;


$color-grey-dark: #444444;
$color-grey: #e5e5e5;
$color-grey-light: #f1f1f1;


$color-main: #63d1bb;
$color-main-dark: #56c3b2;


$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1150px)";
