$html-size-base: 10px;
$font-size: 1.4rem;
$line-height: 2.4rem;
$font-family: "OpenSans", Arial, sans-serif;


$container-mobile: 260px;

$screen-mobile: 320px;


$color-grey-light: #e5e5e5;

$color-main: #63d1bb;
$color-main-dark: #56c3b2;
