.btn-cart {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 21px;
  height: 19px;
  background-image: url("../img/icon-cart.svg");

  &:hover {
    background-image: url("../img/icon-cart-hover.svg");
  }

  &:active {
    background-image: url("../img/icon-cart-hover.svg");
    opacity: 0.3;
  }
}
