.contacts__title {
  margin-top: 0;
  margin-bottom: 34px;
  color: #000000;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem;
}

.contacts__list {
  display: table;
  width: 260px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 38px;
  table-layout: fixed;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: $color-grey-dark;
}

.contacts__item {
  display: table-row;
}

.contacts__type {
  display: table-cell;
  min-height: 55px;
  width: 63px;
  margin-bottom: 30px;
  text-align: left;
  vertical-align: top;
  border-bottom: 30px solid transparent;
  border-right: 15px solid transparent;
}
.contacts__value {
  display: table-cell;
  min-height: 55px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
  min-width: 0;
}

.contacts__map {
  margin-bottom: 39px;
  width: 100%;
  height: 457px;
  background-color: $color-grey;
}

@media #{$tablet-widths} {

  .contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 81px;
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 5rem;


      &::after {
      content: "";
      display: block;
      height: 81px;
      width: 47px;
      background-image: url("http://placehold.it/41x81");
      }
    }

    .contacts__list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 61px;
      font-size: 1.7rem;
    }

    .contacts__item {
      width: 300px;
//      display: flex;
//      justify-content: space-between;
      margin-right: 35px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    .contacts__type {
      border-right-width: 26px;
    }

    .contacts__type,
    .contacts__value {
      width: auto;
      height: auto;
    }

    .contacts__value {
//      padding-left: 26px;
    }

    .contacts__btn-write {
      width: 230px;
      margin-right: auto;
      margin-left: auto;
    }

    .contacts__map {
      width: 100%;
      margin-bottom: 50px;
    }
}


@media #{$desktop-widths} {

  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 457px;
  }

  .contacts__title {
    justify-content: flex-start;
    width: 408px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: 63px;
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 5.7rem;

    &::after {
      order: -1;
      margin-right: 60px;
    }
  }

  .contacts__list {
    flex-wrap: wrap;
    width: 300px;
    margin-left: 175px;
    margin-right: auto;
  }

  .contacts__item {
    width: 100%;
  }

  .contacts__type,
  .contacts__value {
    min-height: 0;
  }

  .contacts__btn-write {
    width: 230px;
    margin-left: 175px;
    margin-right: auto;
    margin-top: auto;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 525px;
    height: 457px;
  }

}
