.main-features__title {
  margin-bottom: 3px;
  color: #000000;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}

.main-features__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-features__item {
  position: relative;
  padding-top: 85px;
  color: #000000;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2rem;

  &--materials {
    background-image: url("../img/icon-feature-1.svg");
    background-repeat: no-repeat;
    background-position: top 25px left 8px;
  }

  &--price {
    background-image: url("../img/icon-feature-2.svg");
    background-repeat: no-repeat;
    background-position: top 30px left 1px;
  }

  &--likes {
    background-image: url("../img/icon-feature-3.svg");
    background-repeat: no-repeat;
    background-position: top 35px left 7px;
  }

  &--manual {
    background-image: url("../img/icon-feature-4.svg");
    background-repeat: no-repeat;
    background-position: top 25px left 8px;
  }

  &--domestic {
    background-image: url("../img/icon-feature-5.svg");
    background-repeat: no-repeat;
    background-position: top 25px left 8px;
  }

  &--pack {
    background-image: url("../img/icon-feature-6.svg");
    background-repeat: no-repeat;
    background-position: top 25px left 8px;
  }
}

@media #{$tablet-widths} {

  .main-features__title {
    margin-bottom: 19px;
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 5rem;
  }

  .main-features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-features__item {
    flex-basis: 300px;
    margin-right: 34px;
    margin-top: 27px;
  }
}

@media #{$desktop-widths} {

  .main-features__title {
    margin-bottom: -10px;
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 5.7rem;
  }

  .main-features__list {
    flex-direction: column;
    flex-wrap: wrap;
    height: 480px;
  }

  .main-features__item {
    flex-basis: auto;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
  }


}
