.main-links__link {
  display: block;
  min-height: 103px;
  line-height: 103px;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    padding-bottom: 5px;
  }

  &:active {

    span,
    .main-links__container {
      opacity: 0.5;
    }
  }
}

.main-links__container {
  display: block;
  padding-right: 80px;
  @include container;
  box-sizing: border-box;
  font-size: 0;
}

.main-links__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.main-links__link--interior {
  background-color: $color-main;

  .main-links__container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 23px;
      width: 41px;
      height: 62px;
      background-image: url("../img/icon-interior.svg");
      opacity: 0.5;
    }
  }
}

.main-links__link--toys {
  background-color: $color-main-dark;

  .main-links__container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 3px;
      top: 20px;
      width: 61px;
      height: 61px;
      background-image: url("../img/icon-toy.svg");
      opacity: 0.5;
  }
}
}

@media #{$tablet-widths} {

  .main-links {
    @include container;
    display: flex;
/*min-height  > чем у main-links_link:hover, чтобы не смещался нижний блок в Chrome*/
    min-height: 150px;
    align-items: flex-end;
  }

  .main-links__link {
    width: 50%;
    margin-top: auto;
    min-height: 107px;
    line-height: 107px;
    padding-bottom: 12px;
    padding-left: 36px;

    &:hover {
      padding-bottom: 19px;
    }
  }

  .main-links__container {
    width: auto;
    margin: 0;

  }

.main-links__link--interior {

  .main-links__container {

    &::after {
      right: 36px;
      top: 30px;
    }
  }
}

.main-links__link--toys {

  .main-links__container {

    &::after {
      right: 33px;
      top: 31px;
  }
  }
}


  .main-links__text {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
  }
}
