.main-links__link {
  display: block;

  min-height: 103px;

  line-height: 103px;

  text-decoration: none;

  color: #ffffff;
  &:hover {
    padding-bottom: 5px;
  }
  &:active {
    span,
    .main-links__container {
      opacity: 0.5;
    }
  }
}

.main-links__container {
  display: block;

  box-sizing: border-box;
  padding-right: 80px;

  font-size: 0;

  @include container;
}

.main-links__text {
  display: inline-block;

  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2.4rem;

  vertical-align: middle;
}

.main-links__link--interior {
  background-color: $color-main;
  .main-links__container {
    position: relative;
    &::after {
      position: absolute;
      top: 23px;
      right: 0;

      width: 41px;
      height: 62px;

      content: "";

      opacity: 0.5;
      background-image: url("../img/icon-interior.svg");
    }
  }
}

.main-links__link--toys {
  background-color: $color-main-dark;
  .main-links__container {
    position: relative;
    &::after {
      position: absolute;
      top: 20px;
      right: 3px;

      width: 61px;
      height: 61px;

      content: "";

      opacity: 0.5;
      background-image: url("../img/icon-toy.svg");
    }
  }
}

@media #{$tablet-widths} {
  .main-links {
    display: flex;
    /*min-height  > чем у main-links_link:hover, чтобы не смещался нижний блок в Chrome*/

    min-height: 150px;

    @include container;
    align-items: flex-end;
  }

  .main-links__link {
    width: 50%;
    min-height: 107px;
    margin-top: auto;
    padding-bottom: 12px;
    padding-left: 36px;

    line-height: 107px;
    &:hover {
      padding-bottom: 19px;
    }
  }

  .main-links__container {
    width: auto;
    margin: 0;
  }

  .main-links__link--interior {
    .main-links__container {
      &::after {
        top: 30px;
        right: 36px;
      }
    }
  }

  .main-links__link--toys {
    .main-links__container {
      &::after {
        top: 31px;
        right: 33px;
      }
    }
  }


  .main-links__text {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
  }
}
