.page--index {

  .page-main {
    padding-top: 34px;

    @media #{$tablet-widths} {
      padding-top: 55px;
    }
    @media #{$desktop-widths} {
      padding-top: 71px;
    }
  }

  .page-main__product {
    margin-bottom: 35px;
    @include container;

    @media #{$tablet-widths} {
      margin-bottom: 52px;
    }
    @media #{$desktop-widths} {
      margin-bottom: 73px;
    }
  }

  .page-main__features {
    margin-top: 34px;
    margin-bottom: 61px;
    @include container;

    @media #{$tablet-widths} {
      margin-top: 59px;
      margin-bottom: 82px;
    }
    @media #{$desktop-widths} {
      margin-top: 70px;
      margin-bottom: 85px;
    }
  }

  .page-main__reviews {
    margin-bottom: 44px;

    @media #{$tablet-widths} {
      margin-bottom: 68px;
    }
  }

  .page-main__contacts {
    margin-top: 44px;
    margin-bottom: 39px;
    @include container;

    @media #{$tablet-widths} {
      margin-top: 70px;
      margin-bottom: 57px;
    }
    @media #{$tablet-widths} {
      margin-bottom: 105px;
    }
  }

}

.page--catalog {

  .page-main__products {
    padding-top: 30px;
    @include container;
  }
}

.page-main__section-wrapper {
  padding-top: 17px;
  background-image: url("../img/wave.png");
  background-repeat: repeat-x;
  background-position: top left;
}

