.page--index {

  .page-main {
    padding-top: 29px;

    @media #{$tablet-widths} {
      position: relative;
      z-index: 1;
      padding-top: 56px;
      margin-top: -12px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 24px;
      background-position: top center;
    }

    @media #{$desktop-widths} {
      padding-top: 83px;
    }
  }

  .page-main__product {
    margin-bottom: 35px;
    @include container;

    @media #{$tablet-widths} {
      margin-bottom: 52px;
    }
    @media #{$desktop-widths} {
      margin-bottom: 73px;
    }
  }

  .page-main__features {
    margin-top: 27px;
    margin-bottom: 55px;
    @include container;

    @media #{$tablet-widths} {
      margin-top: 50px;
      margin-bottom: 48px;
    }
    @media #{$desktop-widths} {
      margin-top: 60px;
      margin-bottom: 77px;
    }
  }

  .page-main__reviews {
    margin-bottom: 44px;

    @media #{$tablet-widths} {
      margin-bottom: 68px;
    }
  }

  .page-main__contacts {
    margin-top: 35px;
    margin-bottom: 39px;

    @media #{$tablet-widths} {
      margin-top: 42px;
      margin-bottom: 57px;
    }
    @media #{$desktop-widths} {
      @include container;
      margin-top: 66px;
      margin-bottom: 105px;
    }
  }

}

.page--catalog {

  .page-main__products {
    padding-top: 30px;
    @include container;

    @media #{$tablet-widths} {
      padding-top: 79px;
    }

    @media #{$desktop-widths} {
      padding-top: 128px;
    }
  }
}

.page-main__section-wrapper {
  padding-top: 7px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: top left;
  background-size: auto 7px;

  @media #{$tablet-widths} {
    padding-top: 17px;
    background-size: auto 17px;
  }

  @media #{$desktop-widths} {
    padding-top: 23px;
    background-size: auto 23px;
  }
}
