.product {
  font-family: $font-family;
  color: $color-grey-dark;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  word-wrap: break-word;
  min-width: 0;

  h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    word-wrap: break-word;
    min-width: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    color: $color-main;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
    span {
      word-wrap: break-word;
      min-width: 0;
    }
  }
}

.product__params {
  width: 291px;
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  table-layout: fixed;
}

.product__param-item {
  height: 36px;
  border-bottom: 1px solid #ececec;
  word-wrap: break-word;
  min-width: 0;
}

.product__param-name {
    width: 95px;
}

.product__img {
  margin-bottom: 20px;
}

.product__price {
  margin-bottom: 26px;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.4rem;
  word-wrap: break-word;
  min-width: 0;
  text-align: center;
}


@media #{$tablet-widths} {

  .product {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3rem;
  }

  .product__header {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 55px;
    z-index: 20;

    h1 {
      position: relative;
      flex-basis: 500px;
      margin-bottom: 0;
      font-size: 43px;
      font-weight: 700;
      line-height: 50px;
      z-index: 21;
    }

    h2 {
      position: relative;
      flex-basis: 80px;
      margin-left: auto;
      margin-right: 20px;
      margin-bottom: 0;
      display: flex;
      text-align: center;
      line-height: 1.7rem;
      z-index: 21;
    }
  }

  .product__content {
    position: relative;
    margin-top: auto;
    width: 100%;
    min-height: 404px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    z-index: 10;

    p {
      width: 282px;
      margin-right: auto;

      &:first-child {
          margin-top: -5px;
      }

      &:last-of-type{
        margin-bottom: 33px;
      }
    }
  }

  .product__params {
    width: 292px;
    margin-right: auto;
    margin-bottom: 15px;

    tbody {
      display: flex;
      flex-direction: column;
    }

    tr {
      display: flex;
      min-height: 39px;
      align-items: center;
      border-bottom: 1px solid #ececec;
    }

  }

  .product__param-item {
    min-height: 0;
    height: auto;
    border: none;
  }

  .product__param-name {
    width: 97px;
  }

  .product__param-value {
    width: 184px;
  }

  .product__price {
    width: 292px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 34px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
  }

  .product__btn-order {
    display: block;
    position: relative;
    width: 292px;
    margin-right: auto;
    z-index: 20;

    a {
      position: relative;
      z-index: 999;
    }
  }

  .product__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 333px;
    height: 404px;
    z-index: 1;
    margin-bottom: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

}

@media #{$desktop-widths} {

  .product {
    position: relative;
    min-height: 636px;
  }

  .product__header {
    margin-top: 51px;
    margin-bottom: 50px;

    h1 {
      order: 2;
      flex-basis: auto;
      font-size: 5.3rem;
      font-weight: 700;
      line-height: 5.7rem;
    }

    h2 {
      flex-basis: 90px;
      margin-left: 37px;
      margin-right: 40px;
      padding-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        line-height: 1.7rem;
      }
    }
  }

  .product__content {
    position: static;
    min-height: 470px;
    margin-left: 175px;

    p:last-of-type {
      margin-bottom: 43px;
    }
  }

  .product__img {
      width: 525px;
      height: 636px;
  }
}
