.products__item {
  font-size: 0;
  line-height: 0;
  margin-bottom: 30px;
}

.item-products__img {
  display: block;
  background-color: $color-grey;

  img {
    width: 100%;
    height: auto;
  }
}

.item-products__desc {
  padding-top: 20px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 3rem;
  color: $color-grey-dark;
  border: 1px solid #ececec;
}

.item-products__text {

  h1 {
    margin-top: 0;
    margin-bottom: 6px;
  }

  p {

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 18px;
    }
  }
}

.item-products__title {

  a {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: #000000;
    text-decoration: none;
  }
}

.item-products__inner {
  width: 204px;
  margin-right: auto;
  margin-left: auto;
}

.item-products__container {
  display: table;
  width: 100%;
  height: 73px;
  border-top: 1px solid #ececec;
  box-sizing: border-box;
}

.item-products__price {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.4rem;
  box-sizing: border-box;
}

.item-products__btn-cart {
  display: table-cell;
  padding-bottom: 10px;
  font-size: 0;
  line-height: 0;
  text-align: right;
  vertical-align: middle;
  box-sizing: border-box;
}

@media #{$tablet-widths} {

  .products__list {
    display: flex;
    flex-direction: column;
  }

  .products__item {
    display: flex;
    margin-bottom: 54px;
  }

  .item-products__img {
    height: 334px;
    width: 334px;
  }

  .item-products__desc {
    flex-grow: 1;
    display: flex;
    padding-top: 17px;
    padding-right: 32px;
    padding-left: 26px;
    min-height: 195px;
  }

  .item-products__inner {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .item-products__text {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
}

.item-products__title {

  a {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
    }
}

  .item-products__container {
    margin-top: auto;
    margin-bottom: 0;
  }

  .item-products__price {
    padding-left: 5px;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.4rem;
  }
}

@media #{$desktop-widths} {

  .products__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .products__item {
    flex-direction: column;
    margin-right: 51px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .item-products__img {
    width: 316px;
    height: 462px;
  }

  .item-products__desc {
    min-height: 178px;
    width: 316px;
    box-sizing: border-box;
  }

  .item-products__inner {
    flex-grow: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .item-products__title {
    a{
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.4rem;
    }
  }
}
