.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials {
  display: block;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}
