.video {
  margin-bottom: 57px;
  border: 1px solid #ececec;
  @include container;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

}

.video__header {
  min-height: 72px;
  padding-top: 23px;

  h2 {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 34px;
    margin-right: 34px;
    padding-left: 57px;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.4rem;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
    }
  }
}

.video--process {

  h2 {

    &::before {
      width: 32px;
      height: 22px;
      background-image: url("../img/icon-video.svg");
      background-position: left 0 top -5px;
    }
  }
}

.video__container {
  position: relative;
  font-size: 0;
  line-height: 0;
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media #{$retina} {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.video__desc {
  width: 192px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 33px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: $color-grey-dark;

  p:last-of-type {
    padding-bottom: 35px;
  }
}

.video__btn {
  position: absolute;
  top: 50%;
  margin-top: -39px;
  left: 50%;
  margin-left: -51px;
  width: 102px;
  height: 78px;
  z-index: 99;
}

@media #{$tablet-widths} {

  .video {
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
  }

  .video__container {
    order: -1;
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video__header {
    min-height: 0;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 20px;

    h2 {
      display: flex;
      align-items: center;
      padding-left: 7px;
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.4rem;

      &::before {
        position: static;
        margin-right: 33px;
      }
    }
  }

  .video__desc {
    width: auto;
    margin-left: 42px;
    margin-right: 42px;
    padding-bottom: 46px;
    padding-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;

    p:last-of-type {
      padding-bottom: 20px;
    }
  }
}

@media #{$desktop-widths} {

  .video__wrapper {
    position: relative;
    @include container;
  }

  .video {
    width: auto;
    margin-bottom: 105px;
    margin-right: 0;
    margin-left: 682px;
    min-height: 455px;
    box-sizing: border-box;
  }

  .video__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
    background-image: url("../img/video-desktop@1x.jpg");
    @media #{$retina} {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .video__header {
    margin-left: 78px;
    margin-top: 45px;
    margin-right: 57px;

    h2 {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;
      padding-left: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.4rem;

      &::before {
        margin-bottom: 27px;
      }
    }
  }

  .video__desc {
    margin-left: 78px;
    margin-right: 57px;

    a {
      margin-top: 25px;
    }
  }
}
